.DS_Store
__pycache__/
*.py[cod]
*.egg-info/

.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/
data/processed/
*.tar
*.zip
*.gz

models/trained/
*.keras
*.h5
*.pth
*.pt

reports/figures/.DS_Store

wandb/
mlruns/
logs/
